<tr>
<td><%= platform.name %></td>
<td><%= platform.rate %></td>
<td><%= link_to "Display", platform_path(platform) %></td>
<td><%= link_to "Edit", edit_platform_path(platform) %></td>
<td><%= button_to "Delete", platform_path(platform), method: :delete,
  form: { data: { turbo_confirm: "Are you sure ?" } }%> </td>
</tr>